body{
    background: rgb(0, 0, 0);
}
/*header*/
.main_header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 20%;
    justify-content: center;
    border: 1px solid grey;
    background: rgb(255, 0, 0);
 }
.header_image{
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
    top: 1rem;
    left: 41%;
    z-index: 999;    
}
.header_vid{
    mix-blend-mode: lighten;
   width:100%;
   max-height:8rem;
   background: rgb(255, 217, 0);   
}
 /*header end*/
 
 /*headerp2*/
 
.headerp2{
     position: absolute;
     top: 20%;
     left: 0;
     right: 0;
     height: 5%;
     background: red;
     display: flex;
     justify-content: center;
     vertical-align: middle;
    border: 1px solid grey;
}
.theme_btn{
    border-radius: 0.2em;
    width: 6rem;
    margin-left: -4rem;
    margin-right: 0.5rem;
    height: 2rem;
    cursor: pointer;
    background: black;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}
.searchbar{
    background: black;
    width: 15rem;
    height:1.7rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    
}
.search_icon{
    position: absolute;
    top: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    color: white;
}

.searchbar::placeholder{
    text-align: center;
    color: rgb(255, 255, 255);
    }
    
.topic_button{
    border: 1px solid white;
    border-radius: 0.2rem;
    width: 5rem;
    height: 2rem;
    margin-left: 0.5rem;
    margin-right: -4rem;
    cursor: pointer;
    color: white;
    background: black;
}   
/*headerp2 end*/

/*cute shit*/
.cute_shitidk{
    position: absolute;
    top:25%;
    left: 0;
    right: 0;
    height: 15%;
    
}

.blog{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    height: 10rem;
    display: block;
    background: green; 
    }
.post_overview{
    height:  8rem;
    background: rgb(0, 153, 255);
    }

.blog_post{
    position:relative;
    left:0;
    right: 50%;
    height:1rem;
    background: rgb(255, 146, 146);
    }
 
 
.topic_n_timestamp{
    position: relative;    
    left: 0;
    right: 0;
    height: 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    background: limegreen;
    }
.blog_post_text{
    margin-top:0.5rem;
    height: 4.6rem;
    background: orange;
    }
        
.read_more{
    position: relative;
    margin-left: 80%;
    width: 6rem;
    border-radius: 0.3rem;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    background: black;
    color: white;

    }     
            
.footer{
    position: fixed;
    top: 95%;
    left: 0;
    right: 0;
    bottom: 0;
   
    }
    
    
 /*copyright*/
.copyright{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 10%;
    z-index: 999;
    
}
    
.copyright p{
    text-align: center;
    color: rgba(130, 130, 130, 0.400);
    font-size: 60%;
}    
  
 /*copyright*/  
 
 
 /*sidebar*/
   .menu_techstack ul, .contact ul,
    .menu_projects ul{
        font-size: 1.5rem;
        margin-bottom: 3rem;
       
        transition: 0.6s; 
    }

    .defualt ul, .royal ul, .street ul,
    .tech ul{
        font-size: 1.5rem;
        margin-bottom: 3rem;
        text-align: right;
        cursor: pointer;
        padding-right: 40px;
        color: whitesmoke;
        transition: 0.6s; 
    }

    .menu_projects ul:hover, .my_contact_info:hover, 
    .menu_techstack ul:hover{
      font-size: 1.6rem;
      text-shadow: 0 0 20px white;
    }
    
     .defualt ul:hover, .royal:hover, .street:hover,
    .tech ul:hover{
      font-size: 1.6rem;
      text-shadow: 0 0 20px white;
    }

     .open_menu{
            position: fixed;
            right:0;
            top: 10rem;
            bottom:70%;
            width:80%;
            background-color: rgba(20, 20, 20, 0.411);
            backdrop-filter: 10px;
            z-index:999;
            box-shadow: 0 0 20px rgba(red, green, blue, 0.411);
            border-bottom-left-radius: 60%;
            width:0;
            opacity:0;

        }
      
   .close-icon{
  font-size: 30px;
  color:lightgrey;
  cursor: pointer;
  margin-bottom:2rem;
  padding-left: 40px;
  margin-top:1em;
}


.open_menu.open-sidebar{
  animation: openSidebarAnimation 1.5s forwards;
}

@keyframes openSidebarAnimation {
  to{
    width:50%;
    opacity:1;
    top: 10rem;
    bottom:0;
    border-radius: 0em;
  }
}

.open_menu.close-sidebar{
  animation: closeSidebarAnimation 1.5s forwards;
}

@keyframes closeSidebarAnimation {
  from{
    width:50%;
    opacity:1;
    top: 10rem;
    bottom:0;
    border-radius: 0em;
  }
  to{
    width:0;
    opacity:0;
    bottom:0;
    border-bottom-left-radius: 50%;
  }
} 







.open_menu1{
            position: fixed;
            left:0;
            top: 10rem;
            bottom:70%;
            width:80%;
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: 10px;
            z-index:999;
            box-shadow: 0 0 20px rgba(red, green, blue, 0.411);
            border-bottom-right-radius: 60%;
            width:0;
            opacity:0;

        }
      
   .close-icon1{
  font-size: 30px;
  text-align: right;
  color:lightgrey;
  padding-right: 10px;
  cursor: pointer;
  margin-bottom:2rem;
  padding-right: 40px;
  margin-top:1em;
}


.open_menu1.open-sidebar1{
  animation: openSidebarAnimation1 1.5s forwards;
}

@keyframes openSidebarAnimation1 {
  to{
    width:50%;
    opacity:1;
    top: 10rem;
    bottom:0;
    border-radius: 0em;
  }
}

.open_menu1.close-sidebar1{
  animation: closeSidebarAnimation1 1.5s forwards;
}

@keyframes closeSidebarAnimation1 {
  from{
    width:50%;
    opacity:1;
    top: 10rem;
    bottom:0;
    border-radius: 0em;
  }
  to{
    width:0;
    opacity:0;
    bottom:0;
    border-bottom-left-radius: 50%;
  }
} 


.theme_image{
    width: 2rem;
    height: 2rem;
    margin-bottom: -5px;
}
/*sidebar*/
