body{
     padding: 0;
     margin: 0;
}
.container{
  padding: 0;
  margin: 0;
}
:root{
   --default_primary: #ffffff;
   --default_secondary: rgb(0, 0, 0);
   --default_complimentary: rgb(0, 81, 255);
   --default_optional: red;
   --default_text: rgb(200, 200, 200);
   --default_font: 'Times New Roman', Times, serif;
   --default_blog_font: "Tinos", serif;
   --primary_font_size: 16px;
   --royal_primary: black;
   --royal_text: goldenrod;
   --royal_font: "Satisfy", cursive;
   --street_text: rgb(0, 143, 88);
   --tech_text: rgb(0, 255, 34);
}




.header_image{
    max-width: 5rem;
    max-height: 5rem;
    position: absolute;
    top: 1rem;
    left: 14rem; 
}



.theme_image{
    width: 2rem;
    height: 2rem;
    margin-bottom: -5px;
}



.background_video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


.icon_color{
  color: var(--default_complimentary)
}
/*.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
/*header*/
.main_header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 10rem;
    justify-content: center;
    background:var(--royal_primary);
 }

 /*header end*/
 
 /*headerp2*/
 
.headerp2{
     position: absolute;
     top: 20%;
     left: 0;
     right: 0;
     height: 2.rem;
     background: transparent;
     border-left: 1px solid var(--default_complimentary);
      border-right: 1px solid var(--default_complimentary);
     border-radius: 20px;
     display: flex;
     justify-content: space-between;
   
}
.theme_btn{
    border-radius:1rem;
    width: 6rem;
    margin-right: 0.5rem;
    height: 2rem;
    cursor: pointer;
    font-family: var(--default_font);
     font-weight: 600;
     font-size: medium;
  background: transparent;
    color: var(--default_text);
    border: none;
   border-right: 2px solid var(--default_complimentary);
  
}
.searchbar{
    width: 15rem;
    height:1.7rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
     border-left: 2px solid var(--default_complimentary);
     border-right: 2px solid var(--default_complimentary);
   background: transparent;
    color: var(--default_text);
    font-family: var(--default_font);
    
}
.search_icon{
    position: absolute;
    top: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
   background: transparent;
    color: var(--default_text);
}

.searchbar::placeholder{
    text-align: center;
  background: transparent;
    color: var(--default_text);
    }
    
.topic_button{
   
    border-radius:1rem;
    width: 5rem;
    height: 2rem;
    border: none;
     border-left: 2px solid var(--default_complimentary);
    font-family: var(--default_font);
    font-weight: 600;
    font-size: medium;
   
   
    cursor: pointer;
   background: transparent;
    color: var(--default_text);
}   
/*headerp2 end*/

/*cute shit*/
.cute_shitidk{
    position: absolute;
    top:25%;
    left: 0;
    right: 0;
    height: 15%;
    background: transparent;
    
}

.blog{
    display: inline;
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    height: 10rem;
   
    background: transparent;
    }
.post_overview{
    margin-bottom: 1rem;
    height:  8rem;
    background: transparent;
    border: 2px solid var(--default_complimentary);
    }

.blog_post{
   position:relative;
   left:0;
   right: 50%;
   height:1rem;
   border: 1px solid transparent;
   background: transparent;

    }
 .title{
   font-family:var(--default_font);
   font-weight: 600;
   background: transparent;
   color: var(--default_text);
   border-bottom: px solid var(--default_complimentary);
 }
 
.topic_n_timestamp{
    position: relative;    
    left: 0;
    right: 0;
    height: 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--default_complimentary);
    background: transparent;
    color: var(--default_text);
    font-family: var(--default_font);
    font-weight: 700;

}

    
.blog_post_text{
    margin-top:0.5rem;
    height: 4.6rem;
    border: 1px solid transparent;
    background: none;
    color: var(--default_text);
   font-family: var(--default_blog_font);
    }
        
.read_more{
    position: absolute;
    left: 29rem;
    margin-top: 1rem;
    width: 6rem;
    border-radius: 0.3rem;
    border: 1px solid var(--default_complimentary);
    text-align: center;
    cursor: pointer;
    background: transparent;
    color: var(--default_text);
    }     
            
.footer{
    position: fixed;
    top: 95%;
    left: 0;
    right: 0;
    bottom: 0;
   background: transparent;
    }
    
    
 /*copyright*/
.copyright{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 10%;
   
}
    
.copyright p{
    text-align: center;
    color: var(--default_complimentary);
    font-size: 60%;
}    
  
 /*copyright*/  
 
 
 /*sidebar*/
   .menu_techstack ul, .contact ul,
    .menu_projects ul{
        font-size: 1.5rem;
        margin-bottom: 3.5rem;
       color: whitesmoke;
        transition: 0.6s; 
    }

    .defualt ul, .royal ul, .street ul,
    .tech ul{
        font-size: 1.5rem;
        margin-bottom: 3rem;
        text-align: right;
        cursor: pointer;
        padding-right: 40px;
        color: whitesmoke;
        transition: 0.6s; 
    }

    .menu_projects ul:hover, .my_contact_info:hover, 
    .menu_techstack ul:hover{
      font-size: 1.6rem;
      text-shadow: 0 0 20px white;
    }
    
     .defualt ul:hover, .royal:hover, .street:hover,
    .tech ul:hover{
      font-size: 1.6rem;
      text-shadow: 0 0 20px white;
    }

    .royal ul{
      color: var(--royal_text);
    }
    .street ul{
      color: var(--street_text);
    }
    .tech ul{
      color: var(--tech_text);
    }
     .open_menu{
            position: fixed;
            right:0;
            top: 10rem;
            bottom:70%;
            width:80%;
            background-color: rgba(20, 20, 20, 0.411);
            backdrop-filter: 10px;
            z-index:999;
            box-shadow: 0 0 20px rgba(red, green, blue, 0.411);
            border: 1px solid var(--default_complimentary);
            border-bottom-left-radius: 60%;
            width:0;
            opacity:0;

        }
      
   .close-icon{
  font-size: 30px;
  color:lightgrey;
  cursor: pointer;
  margin-bottom:2rem;
  padding-left: 40px;
  margin-top:1em;
}


.open_menu.open-sidebar{
  animation: openSidebarAnimation 1.5s forwards;
}

@keyframes openSidebarAnimation {
  to{
    width:50%;
    opacity:1;
    top: 10rem;
    bottom:0;
    border-radius: 0em;
  }
}

.open_menu.close-sidebar{
  animation: closeSidebarAnimation 1.5s forwards;
}

@keyframes closeSidebarAnimation {
  from{
    width:50%;
    opacity:1;
    top: 10rem;
    bottom:0;
    border-radius: 0em;
  }
  to{
    width:0;
    opacity:0;
    bottom:0;
    border-bottom-left-radius: 50%;
  }
} 







.open_menu1{
            position: fixed;
            left:0;
            top: 10rem;
            bottom:70%;
            width:80%;
            background-color: rgba(0, 0, 0, 0.9);
            backdrop-filter: 10px;
            z-index:999;
            box-shadow: 0 0 20px rgba(red, green, blue, 0.411);
             border: 1px solid var(--default_complimentary);
            border-bottom-right-radius: 60%;
            width:0;
            opacity:0;

        }
      
   .close-icon1{
  font-size: 30px;
  text-align: right;
  color:lightgrey;
  padding-right: 10px;
  cursor: pointer;
  margin-bottom:2rem;
  padding-right: 40px;
  margin-top:1em;
}


.open_menu1.open-sidebar1{
  animation: openSidebarAnimation1 1.5s forwards;
}

@keyframes openSidebarAnimation1 {
  to{
    width:50%;
    opacity:1;
    top: 10rem;
    bottom:0;
    border-radius: 0em;
  }
}

.open_menu1.close-sidebar1{
  animation: closeSidebarAnimation1 1.5s forwards;
}

@keyframes closeSidebarAnimation1 {
  from{
    width:50%;
    opacity:1;
    top: 10rem;
    bottom:0;
    border-radius: 0em;
  }
  to{
    width:0;
    opacity:0;
    bottom:0;
    border-bottom-left-radius: 50%;
  }
} 


/*sidebar*/
