html {
  scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	background-color: var(--bcolor);
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: rgb(192, 192, 192);
}

.container{
	
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
	background-color: var(--bcolor);
	
}

:root{

	--bcolor: rgb(15, 15, 15);
	--bcolor1: rgb(255, 255, 255);
	--tcolor1: black;

}

#more10, #more11, #more12, #more13, #more14, #more15,#more16,#more17,#more18,#more19,#more20,#more21,#more22,#more23,#more24,#more25,#more26,#more27,#more29,#more30,
#more31,#more32,#more33,#more34,#more35,#more36,#more37,#more38,#more39,#more40,#more41,#more42,#more43,#more44,#more45,#more46,#more47,#more48,#more49,
#more42{
        display: none;
	margin-bottom: 5%;
	margin-top:5%;
}



header{
	
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	align-items: center;
	justify-content:space-between;
	height: 70px;
	background-color:  rgba(255, 255, 255, 0.123);
	backdrop-filter: blur(10px);
	padding: 0 30px;
	box-shadow: 0 0 15px #d7de7268;
	z-index: 999;	
	
}

.left{
	
	display: flex;
	align-items: center;
	
}

.left img{
	width: 40px;
	margin: 0 15px;
    border-radius: 20px;
}

header ul{
	
	display: flex;
	justify-content:space-between;
	width: 30%;
	padding: 15px 15px;
	border-radius: 50px;
	background-color: rgba(35, 35, 35, 0.30);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 10px #dec17265;
	
}

header ul li{
	
	list-style: none;
	
}


header ul a{
	
	text-decoration: none;
	color:white;
	font-weight: 700;
	margin: 0 10px;
	
}

.box-icons{
	
	display: flex;
	gap: 40px;
	
}

.box-icons a{
	
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	width: 30px;
	height: 30px;
	border: 2px solid #727fde;
	text-decoration: none;
	color: lightgray;
	border-radius: 50%;
	transition: 0.3s;
	
}

.box-icons a:hover{
	
	background-color: #464646;
	color:black;
	box-shadow: 0 0 15px #aaaaaa6f;
	
}


.blackhole-box{

	z-index: 1;
	position: absolute;
	top: 0;
	width: 100%;
	justify-content:center;
	mix-blend-mode: lighten;

}

.blackhole-box video{
	width: 100%;
	margin-top: -23.5%;
	z-index: 1;
	
}

.hero{
	
	position: relative;
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content:space-between;	
	
}

.hero-info{
	position: absolute;
	left: 5%;
}



.hero-info h1{
	
	font-size: 60px;
	max-width:600px;
	font-weight:700;
	line-height: 70px;
	margin-top: 40px;
	margin-bottom: 30px;
	
}

.hero-info p{
	
	max-width: 550px;
	line-height: 25px;
	margin-bottom: 40px;
	font-size:20px;
	
}

.hero-info button{
	
	color:white;
	padding: 15px 35px;
	border-radius: 10px;
	border: 2px solid #5c5c5cb4;
	background-color: #2e2e2e3d;
	box-shadow: 0 0 5px #c0c0c084;
	cursor: pointer;
	transition: 0.3s;
}

.hero-info button:hover{	
	box-shadow: 0 0 15px #dbdbdb86;	
}

.gradient{
	background: linear-gradient(to right,#f8ab03, #3e3f12, #ac7f03, #ff8800, #d9ff00, #fbff00, #f8ab03);
	background-size: 200%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate-gradient 2.5s linear infinite;
	
	
}

@keyframes animate-gradient{
	to{
		background-position:200%;
	}
	
}

.hero-vid-box{
	
	position: absolute;
	right: 0;
	
}






.info-section{
	
	display: flex;
	flex-direction: column;
	align-items:center;
	width: 80%;
	margin-top: 100px;
	
}

.section-title{
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 100px;
}

.info-cards{
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	width: 100%;
	height:100%;
	margin-top: 30px;
	align-items: center;
	justify-content: center;
	margin-left: 10%;
	
}

.card{
	
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	width: auto;
	height: 40vh;
	overflow:hidden;
	border: 1px solid rgb(223, 171, 0);
	background-color: #161616b7;
	border-radius:20px;
    transition: 0.3s;
	
}

.card img{
    width: 80%;
    height: 50%;
    object-fit: cover;
}

.card h1{
    position: absolute;
    margin: 0;
    bottom: 40%;
    left: 5%;
    font-size: 25px;
    z-index: lightgray;
}

.card p{
    position: absolute;
    bottom: 3%;
    left: 5%;
    z-index: 1;
    max-width: 300px;
    color: grey;
    font-size: 13px;
    line-height: 20px;
}

.card video{
    margin-top:10%;
    width: 70%;
    height: 50%;
    object-fit: cover;
    mix-blend-mode: lighten;

}

.card button{
   color:white;
	padding: 10px 15px;
	border-radius: 10px;
	border: 2px solid #727fdeb4;
	background-color: #2200493d;
	box-shadow: 0 0 5px #727fde84;
	cursor: pointer;
	transition: 0.3s;
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.card button:hover{	
	box-shadow: 0 0 15px #727fde86;
    opacity: 0.7;

} 

.card:hover{
    box-shadow: 0 0 15px rgb(211, 211, 211, 0.5)
}

.card:nth-child(3){
    grid-row: span 2;
    height:83vh;
}

.card:nth-child(3) p{
	bottom: 12;
}	

.card:nth-child(3) h1{
	bottom: 21;
}

.card:nth-child(4){
	grid-column: span 2;
}

.card:nth-child(4) p{
	max-width: 650px;
}

.card:nth-child(4) h1{
	bottom: 35%;
}

/*MP PROJECTS IMPORTANT*/
.my-projects{

	display: flex;
	flex-direction: column;
	gap:10%;
	align-items: center;
	position: relative;
	width: 80%;
	height:100vh;
	margin-top: 200px;
	margin-bottom: 700px;

}

.project-card{

	display: flex;
	width:100%;
	height: 40%;
	align-items:center;
	justify-content:center;
    margin-top: 5%;
    margin-bottom:5%;

}

.project-vidbox{

	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	position: relative;
	cursor: pointer;
	min-width: 500px;
	transition: 0.5s;
	mix-blend-mode: exclusion;

}

.project-vidbox img{

	width: fit-content;
	max-width: 22rem;
	min-width: 21rem;
	max-height: 19rem;
	box-shadow: 0 0 10px lightgray;
	border-radius: 20px;
	transition: 0.5s;
	margin-top:0;
	margin-bottom: 150px;

}

.project-vidbox img:hover{
	box-shadow: 0 0 20px lightgray;
}

.project-info{
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	width:50%;
	padding-left: 10%;
}

.project-info h1{
	width: 90%;
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 0px;
	margin-top:0;
	max-width:450px;
}

.project-info p{
	width: 90%;
	max-width: 400px;
	min-width: 300px;
	margin-bottom: 150px;

}

.project-info button{
	color: goldenrod;
	padding: 10px 15px;
	border-radius: 10px;
	border: 2px solid goldenrod;
	background-color: #1d1d1d3d;
	box-shadow: 0 0 5px #eed60084;
	cursor: pointer;
	transition: 0.3s;
}

.project-info button:hover{	
	box-shadow: 0 0 15px #ffd00086;
    opacity: 0.7;

} 


.point{
	display: block;
}

.mc{
	 display: block;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    width: 100%; 
}

.slink,
.blink{
	text-decoration: none;
	color: goldenrod;
	display: block;
}


@media (max-aspect-ratio:16/9){
	.back-vid{
		width: auto;
		height: 100%;
	}
}

@media (min-aspect-ratio:16/9){
	.back-vid{
		width: 100%;
		height: auto;
	}
}

 .menu-icon{
            font-size:30px;
            cursor:pointer;
            
        }

 .sidebar{
            position: fixed;
            right:0;
            top:0;
            bottom:70%;
            width:80%;
            background-color: rgba(20, 20, 20, 0.411);
            backdrop-filter: 10px;
            z-index:999;
            box-shadow: 0 0 20px rgba(goldenrod 0.411);
            border-bottom-left-radius: 60%;
            width:0;
            opacity:0;

        }

.close-icon{
  font-size: 30px;
  color:lightgrey;
  padding-left: 10px;
  cursor: pointer;
  margin-bottom:2rem;
  padding-left: 40px;
  margin-top:1em;
}
.sidebar  li {
  padding-left: 20px;
   list-style: none;
 margin-bottom: 10px;
}

.sidebar  li a{
  padding-left: 20px;
  text-decoration: none;
  margin-bottom:50px;
  color: lightgrey;
  font-weight:700;
  font-size: 20px;
  text-shadow: 0 0 15px rgba(230, 230, 230, 0411)
}

.sidebar.open-sidebar{
  animation: openSidebarAnimation 1.5s forwards;
}

@keyframes openSidebarAnimation {
  to{
    width:80%;
    opacity:1;
    bottom:0;
    border-radius: 0em;
  }
}

.sidebar.close-sidebar{
  animation: closeSidebarAnimation 1.5s forwards;
}

@keyframes closeSidebarAnimation {
  from{
    width:80%;
    opacity:1;
    bottom:0;
    border-radius: 0em;
  }
  to{
    width:0;
    opacity:0;
    bottom:0;
    border-bottom-left-radius: 50%;
  }
}
  @media screen and (max-width: 1000px){
	 .container{
		 max-width: 1000px;
	 }
	.blackhole.box video{
		margin-top:-15%;
	}
   
	.hero-info h1{
		font-size: 40px;
		max-width: 400px;
		line-height: 40px;

	}
	.hero-info p{
		max-width: 300px;
	}
	.hero-vid-box video{
      height:500px;
		display: block;
	}
	.section-title{
		font-size: 30px;
	}
	/*.info-cards{
	grid-template-columns:auto;
	}*/

	.info-cards .card h1{
		font-size: 20px;
	}
	.my-projects{
		margin-bottom:300px
		
	}
	
	
	.project-info h1{
		font-size:20px;
		max-width:500px;
        
	}
	.project-info{
		font-size: 15px;
		text-wrap:wrap;
		max-width:400px;
		min-width:0;
		margin-left: 20px
	}
	footer h1{
		font-size:20px;
	}
	  .project-vidbox img{
	     
	max-width: 13rem;
	min-width: 12rem;
	max-height: 11rem;

         
	
     }


}

@media screen and (max-width: 700px){
	.container{
		max-width: 700px;
	}
	header{
		position: fixed;
		height: 50px;
max-width: 700px;
			
	}
     header h1 {
		font-size: 25px;
	
	 }
      .blackhole-box video{
	    margin-top:-18%;
	position: fixed;
	  }
	  .hero-info h1{
		line-height: 50px;
	  }
	  .hero-vid-box{
		height:200px;
		top:5%;
		right: 5%;
	
	  }
        .pls_block{
                display: block;
                margin-bottom:10px;
        }

	  .my-projects{
		margin-bottom:500px;
		max-width: 700px;
		gap:10px;	
		display: grid;
		grid-template-rows: 1fr 1fr;
        	align-items: center;
		 justify-content:  center;
		 max-width: 700px; 
		  display:  block;
		 
		  
	  }
	  .project-card{
		gap:10px;	
		display: grid;
		grid-template-columns: 1fr ;
        	align-items: center;
		 justify-content:  center;
		 max-width: 700px; 
		  display: inline-block;
		  margin-top: 10%;
		  margin-bottom: 10%;
		  margin-left: -5%;
		  padding-right: 5%;
		  max-height: 250px;
		  overflow-x: auto;
		  overflow-y: auto;
		  animation: none !important;
		  transition: none !important;
	  }


.project-card::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.project-card {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


	
	.project-info{
		display: block;
	}

	.project-info p{
		width:80%;
		min-width: 0;
		max-width: 300px;
		margin-left: -2%;
	       
	}

   .section-title{
	   text-align: center;
	   justify-content:center;
	   align-items: center;
   }
	   
	
     .project-vidbox img{	
	max-width: 8rem;
	min-width: 8rem;
	min-height: 11rem;
	max-height: 11rem;
	   
     }

}
